*.exe
*.o
*.old
*.test
*.lnk
*.log
*.spv
bin/
obj/
dep/
asm/
build/
CMakeFiles/
.tup/
.vscode/
tup.config
CMakeCache.txt
workspace.code-workspace
vgcore.*

#kj specific
VulkanCompute
HydrusExport/
*.jpg
*.png
*.cmake
Makefile
*.sqv